{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>BIENVENUE</h1>
    </div>
       <a href="{{path("reservation")}}" class="btn btn-success"> reserver ici</a>
{% endblock %}
